@import '../../styles/vars.scss';

.infoItem {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 130px;
  padding: 15px 30px;

  border-radius: $borderRadius;
  border: solid 1px $c_muted_sub;
  background-color: $c_contrast;
  overflow: hidden;
  transition: background-color, transform $easing $duration;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 4px;
    height: 100%;
    background-color: $c_primary_sub;
  }

  &--disabled {
    &::before {
      background-color: $c_primary_muted;
    }

    > .infoItem_title {
      color: $c_primary_muted;
    }
  }

  &_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }

  &_title {
    display: inline-block;
    margin-right: 10px;
    font-size: $fs_medium;
    font-weight: $fw_bold;
    color: $c_main_sub;
  }

  &_check {
    margin-left: 10px;
  }

  &_footer {
    margin-top: auto;
  }

  &_extra {
    position: absolute;
    right: 15px;
    top: 17px;
    padding: 5px;
    cursor: pointer;
  }

  &_disabledText {
    font-size: $fs_medium;
    font-weight: $fw_regular;
    color: $c_muted;
  }
}
