@import '../../styles/vars.scss';

.checkItem {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  background-color: $c_contrast;
  color: $c_main;
  border: solid 1px #e6ecf2;
  border-radius: $borderRadius;
  font-size: $fs_normal;
  font-weight: $fw_regular;
  user-select: none;
  text-decoration: none;

  &_icon {
    margin-right: 4px;
  }
}
