@import './vars.scss';

body {
  min-width: 320px;

  overflow: hidden;
  background-color: $c_contrast;
  color: $c_main;
  font-family: $ff_main, 'sans-serif';
  font-weight: $fw_regular;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
