@font-face {
  font-family: $ff_main;
  src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
    url('./fonts/Roboto-Bold.woff') format('woff');
  font-weight: $fw_bold;
  font-style: normal;
}

@font-face {
  font-family: $ff_main;
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: $fw_regular;
  font-style: normal;
}
